---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/army011.jpeg"
>
  <p>
    Vincent Radford is a highly skilled professional with a diverse background
    in clerical work, data entry, and administrative support. With extensive
    experience as a Clerk Typist for the Commonwealth of Pennsylvania, Vincent
    managed front desk operations, data entry, and mailroom activities, ensuring
    smooth and efficient office functions. His attention to detail and
    proficiency in proofreading legal documents and program letters highlights
    his commitment to accuracy and excellence.
  </p>
  <p>
    In addition to his clerical expertise, Vincent has demonstrated strong case
    management skills during his tenure at JFK Behavioral Health Center. He
    efficiently handled client intake, record management, and appointment
    coordination, showcasing his ability to manage multiple tasks and prioritize
    effectively. His role as a Service Dispatcher at J.P. Mascaro & Sons further
    emphasizes his capability in data entry and communication coordination,
    ensuring timely resolution of customer concerns.
  </p>
  <p>
    Vincent's technical skills are complemented by his proficiency in Office
    365, Outlook, Excel, Word, and PowerPoint, along with programming languages
    such as Python, JavaScript, and SQL. His ability to leverage these tools to
    streamline workflows and enhance productivity is a testament to his
    technical acumen.
  </p>
  <p>
    With a strong foundation in logistics from his military service as an
    Ammunition Logistics Manager in the US Army, Vincent brings a disciplined
    and organized approach to his work. His dedication to continuous improvement
    and his ability to adapt to various roles make him an ideal candidate for a
    wide range of clerical and administrative positions.
  </p>
</Layout>
